body{
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\5fae\8f6f\96c5\9ed1,Arial,sans-serif;
  color: #606266;
}

#app code{
  font-family: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

#app .htw-dark .dark\:htw-text-black{
  color: #fff;
}

.htw-dark .dark\:htw-border-gray-800 {
  border-color: #4c4d4f;
}

.dark{
  color: #fff;
}